
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  //background-color: rgba(158, 190, 236, 0.23);
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.button {
  @include button;
}
