@import 'variables';

@mixin button {
  color: #ffffff;
  padding: 10px 80px;
  font-size: 20px;
  background-color: $mainColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
  font-family: 'Rubik', sans-serif;

  &:hover {
    transition: all 0.2s;
    border-color: $mainColor;
    color: $mainColor;
    background-color: transparent;
  }
}


