@import "mixins";
@import "animation";
@import 'default';
@import "variables";

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 0px 3px 0px;
  position: fixed;
  width: 100%;
  //color: #ffffff;

  .container {
    flex-basis: 80%;
  }

  &__logo {
    flex-basis: 20%;
  }

  &__logo-text {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Major Mono Display', monospace;
    margin: 0;
  }

  &__button {
    padding: 7px 60px;
  }

  .navigation {
    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: flex-end;
    }

    &__item {
      font-size: 16px;
      cursor: pointer;
      margin: 0 20px;
      vertical-align: bottom;
      position: relative;

      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -4px;
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        background-color: black;
        width: 100%;
        left: 0;
      }

      &:first-child {
        font-weight: 600;
      }
    }
  }
}

.user {
  padding: 0 30px;
  flex-basis: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
  &__login {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    margin: 0;
  }

  &__pts {

    color: #9a9a9a;
  }
}

.main-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings {
  margin-top: 40px;
  font-weight: 400;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //
  &__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
  }

  &__button {
    margin-top: 40px;
    padding: 8px 80px;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    //text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
  }

  &__display {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
  }

  &__input {
    width: 100%;
    margin-bottom: 25px;
  }

  &__pts-holder {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__title {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
    width: 100px;

    //&_win {
    //  color: #00da00;
    //}
    //
    //&_loose {
    //  color: #c00001;
    //}
  }

  &__text {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    //&_win {
    //  color: #7cd04c;
    //}
    //&_loose {
    //  color: #d75353;
    //}
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    width: 360px;
    height: 15px;
    background-color: rgba(199, 199, 199, 0.36);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    height: 15px;
    width: 15px;
    background-color: $mainColor;

    &:before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      background-color: red;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: rgba(178, 178, 178, 0.28);
  }
}

.gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 3px dashed #1d1d1d;
  border-bottom: none;
  border-top: none;
  width: 100%;
  margin-top: 65px;

  &__wrapper {
    background-color: #ffffff;
    padding: 15px;
    position: relative;

    //&:before {
    //  content: '';
    //  height: 160px;
    //  width: 110px;
    //  position: absolute;
    //  top: -70px;
    //  left: -70px;
    //  transform: rotate(45deg);
    //  background-color: rgba(255, 255, 255, 1)
    //}
  }

  &__row {
    color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 10px;

    //&.active {
    //  color: #000000;
    //  .gameplay__col {
    //    height: 55px;
    //    width: 45px;
    //    //background-color: $mainColor;
    //  }
    //}
  }
  &__col {
    color: #000000;
    //background-color: #f8f8f8;
    border: 1px solid #8c8c8c;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    font-size: 28px;
    font-weight: 600;
    transition: background-color 0.2s, border-color 0.2s;

    &.filled {
      border: 1px solid #1d1d1d;
    }

    &.full {
      background-color: #68a85e;
      color: #ffffff;
      border-color: #68a85e;
    }

    &.part {
      background-color: #c6b557;
      color: #ffffff;
      border-color: #c6b557;
    }

    &.never {
      background-color:#797c7d;
      color: #ffffff;
      border-color: #797c7d;
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;

  &_active {
    visibility: visible;
  }

  &_active &__window {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }

  &__window {
    background-color: #ffffff;
    box-shadow: 0 4px 23px rgba(0, 0, 0, 0.2);
    width: 450px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px;
    opacity: 0;
    transform: scale(0.9) translateY(60px);
    transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
  }

  &__title {
    padding: 15px 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #1d1d1d;
  }

  &__counter {
    display: inline-block;
    //min-width: 70px;
  }

  &__text {
    font-size: 18px;
    margin: 15px 0 20px;
    font-weight: 500;
    position: relative;
  }

  &__result {
    transition: all 0.4s;
    opacity: 0;
    font-size: 16px;
    vertical-align: top;
    position: absolute;
  }


  &__result_active {
    opacity: 1;
  }

  &__rating {
    font-size: 18px;
    margin: 0 10px 5px;
  }

  &__word {
    padding: 20px 0;
    margin: 10px 0 5px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 2px;
  }

  &__button {
    //height: 35px;
    background-color: $mainColor;
    padding: 6px 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;

    &:hover {
      transition: all 0.2s;
      border-color: $mainColor;
      color: $mainColor;
      background-color: transparent;
    }
  }
}







